---
- name: Configure UFW firewall
  hosts: all
  become: true
  vars:
    ssh_port: 22
    allow_http: true
    allow_https: true
  tasks:

    - name: Задача установить пакет ufw
      ansible.builtin.apt:
        name: ufw
        state: latest
        update_cache: true

    - name: Полный сброс всех существующих правил UFW
      community.general.ufw: # Модуль из коллекции community.general
        state: reset # Аналог ufw reset, очищает правила и возвращает UFW в дефолтное состояние

    - name: Политика по умолчанию для входящих соединений
      community.general.ufw:
        direction: incoming # Применяется к входящему трафику
        policy: deny # Запрещает ВСЁ входящее, если нет явного allow

    - name: Политика по умолчанию для исходящих соединений
      community.general.ufw:
        direction: outgoing # Применяется к исходящему трафику
        policy: allow # Разрешает серверу ходить наружу (apt, dns, api и т.д.)

    - name: Разрешаем SSH, КРИТИЧЕСКИ важно до включения UFW
      community.general.ufw:
        rule: allow # Тип правила — разрешить
        port: "{{ ssh_port }}" # Порт берётся из переменной ssh_port
        proto: tcp # Протокол TCP (SSH работает по TCP)

    - name: Разрешаем HTTP, если флаг allow_http = true
      community.general.ufw:
        rule: allow
        port: 80
        proto: tcp
      when: allow_http # Условие выполнения задачи

    - name: Разрешаем HTTPS, если флаг allow_https = true
      community.general.ufw:
        rule: allow
        port: 443
        proto: tcp
      when: allow_https # Условие выполнения задачи

    - name: Включаем логирование UFW
      community.general.ufw:
        logging: on # UFW начнёт писать логи (обычно в /var/log/ufw.log)

    - name: Финальный шаг — включаем firewall
      community.general.ufw:
        state: enabled # Аналог ufw enable, применяет все правила, заданные выше