#cloud-config                                                 
datasource:                                                   # Настройки источника метаданных (metadata service)
 Ec2:                                                         # Используем драйвер, совместимый с Amazon EC2
  strict_id: false                                            # Отключаем строгую проверку instance-id (нужно для облаков-эмуляторов EC2)

ssh_pwauth: no                                                # Запрещаем вход по SSH с паролем (только через ключи)

users:                                                        # Список пользователей, которых нужно создать
- name: localadmin                                            # Имя пользователя
  sudo: ALL=(ALL) NOPASSWD:ALL                                # Даём право sudo без пароля (root-доступ без подтверждения)
  shell: /bin/bash                                            # Указываем оболочку по умолчанию — bash
  ssh_authorized_keys:                                        # Список публичных SSH-ключей, разрешённых для входа
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ2aIaWw6MfU2/VvqiSWCulDyMc+eQGlE0/I3TXcbdGC ufo@NEXA-HOST
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIArGCmMkSsC4lrpHDNscdEzP+tReXPKyAWdQe45PXX+/ user-host@HOST-TSOH