#cloud-config
datasource:
  Ec2:
    strict_id: false

ssh_pwauth: no

users:
  - name: localadmin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ2aIaWw6MfU2/VvqiSWCulDyMc+eQGlE0/I3TXcbdGC ufo@NEXA-HOST
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIArGCmMkSsC4lrpHDNscdEzP+tReXPKyAWdQe45PXX+/ user-host@HOST-TSOH

packages:
  - nginx
  - curl
  - docker.io

runcmd:
  # Обновление системы
  - apt update
  - apt -y full-upgrade

  # Установка Zabbix-agent
  - wget https://repo.zabbix.com/zabbix/7.4/release/ubuntu/pool/main/z/zabbix-release/zabbix-release_latest_7.4+ubuntu24.04_all.deb
  - dpkg -i zabbix-release_latest_7.4+ubuntu24.04_all.deb
  - apt update
  - apt install -y zabbix-agent

  # Запуск и включение сервисов
  - systemctl enable --now nginx docker
  - systemctl restart nginx docker
