#cloud-config
datasource:
  Ec2:
    strict_id: false

ssh_pwauth: no

users:
  - name: localadmin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash 
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ2aIaWw6MfU2/VvqiSWCulDyMc+eQGlE0/I3TXcbdGC ufo@NEXA-HOST
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIArGCmMkSsC4lrpHDNscdEzP+tReXPKyAWdQe45PXX+/ user-host@HOST-TSOH

packages:
  - curl
  - docker.io

runcmd:
  # Обновление системы
  - apt update
  - apt -y full-upgrade

  # Запуск и включение сервисо
  - systemctl enable --now docker
  - systemctl restart docker

  # Создание папок для volume
  - mkdir -p /elasticsearch/data
  - mkdir -p /elasticsearch/logs
  - chown -R 1000:1000 /elasticsearch/data /elasticsearch/logs
  - chmod -R 770 /elasticsearch/data /elasticsearch/logs

  # Скачивание образа Elasticsearch
  - docker pull docker.elastic.co/elasticsearch/elasticsearch:8.19.11

  # Запуск контейнера Elasticsearch (массив)
  - [ docker, run, -d,
      --name, elasticsearch-server,
      -p, "9200:9200",
      -e, "discovery.type=single-node",
      -e, "cluster.name=alexey-zayac",
      -e, "network.host=0.0.0.0",
      -e, "xpack.security.enabled=false",
      -v, "/elasticsearch/data:/usr/share/elasticsearch/data",
      -v, "/elasticsearch/logs:/usr/share/elasticsearch/logs",
      --restart, unless-stopped,
      "docker.elastic.co/elasticsearch/elasticsearch:8.19.11"
    ]