#cloud-config
datasource: # Настройки источника метаданных (metadata service)
  Ec2: # Используем драйвер, совместимый с Amazon EC2
    strict_id: false # Отключаем строгую проверку instance-id (нужно для облаков-эмуляторов EC2)

ssh_pwauth: no # Запрещаем вход по SSH с паролем (только через ключи)

users: # Список пользователей, которых нужно создать
  - name: localadmin # Имя пользователя
    sudo: ALL=(ALL) NOPASSWD:ALL # Даём право sudo без пароля (root-доступ без подтверждения)
    shell: /bin/bash # Указываем оболочку по умолчанию — bash
    ssh_authorized_keys: # Список публичных SSH-ключей, разрешённых для входа
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ2aIaWw6MfU2/VvqiSWCulDyMc+eQGlE0/I3TXcbdGC ufo@NEXA-HOST
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIArGCmMkSsC4lrpHDNscdEzP+tReXPKyAWdQe45PXX+/ user-host@HOST-TSOH

packages:
  - nginx
  - curl
  - postgresql

runcmd:
  # Обновление системы                                                      #
  - apt update
  - apt -y full-upgrade

  # Установка Zabbix
  - wget https://repo.zabbix.com/zabbix/7.4/release/ubuntu/pool/main/z/zabbix-release/zabbix-release_latest_7.4+ubuntu24.04_all.deb
  - dpkg -i zabbix-release_latest_7.4+ubuntu24.04_all.deb
  - apt update
  - apt install -y zabbix-server-pgsql zabbix-frontend-php php8.3-pgsql zabbix-nginx-conf zabbix-sql-scripts zabbix-agent

  # Гарантируем, что PostgreSQL запущен
  - systemctl enable --now postgresql

  # Настройка PostgreSQL
  - sudo -u postgres psql -c "CREATE USER zabbix WITH PASSWORD 'password';"
  - sudo -u postgres createdb -O zabbix zabbix
  - zcat /usr/share/zabbix/sql-scripts/postgresql/server.sql.gz | sudo -u zabbix psql zabbix

  # Настройка Zabbix сервера (пароль: password)
  - sed -i "s/^# DBPassword=/DBPassword=password/" /etc/zabbix/zabbix_server.conf

  # Настройка Nginx для фронтенда Zabbix
  - rm -f /etc/nginx/sites-enabled/default
  - sed -i "s/#\\s*listen.*/listen 80;/" /etc/zabbix/nginx.conf
  - sed -i "s/#\\s*server_name.*/server_name _;/" /etc/zabbix/nginx.conf

  # Запуск и включение сервисов
  - systemctl enable --now zabbix-server zabbix-agent nginx php8.3-fpm
  - systemctl restart zabbix-server zabbix-agent nginx php8.3-fpm
