---
- name: full-system-maintenance
  hosts: all
  become: yes         
  gather_facts: yes    
  tasks:

    - name: update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: full upgrade
      ansible.builtin.apt:
        upgrade: full

    - name: full upgrade x2
      ansible.builtin.apt:
        upgrade: full

    - name: install packages
      ansible.builtin.apt:
        name:
          - apparmor
          - libapparmor1
        state: latest 

    - name: autoremove unused packages
      ansible.builtin.apt:
        autoremove: yes

    - name: Purge config leftovers (~c)
      ansible.builtin.command: >
        apt purge '~c' -y 