---
- name: ping-all                        
  hosts: all
  gather_facts: yes
  
  tasks:
    - name: Check connectivity          
      ansible.builtin.ping:
      register: result
      retries: 3                        # пробуем до 3 раз
      delay: 5                          # с интервалом 5 секунд
      ignore_errors: yes                # если хост недоступен, продолжаем с другими

    - name: Show host results in table  # сохраняет вывод модуля в переменную result
      debug:
        msg: >-
          {{ inventory_hostname.ljust(15) }} | 
          {{ (ansible_distribution + ' ' + ansible_distribution_version).ljust(14) }}
