# Включение подсветки синтаксиса для всех поддерживаемых языков
include "/usr/share/nano/*.nanorc"

# Цвета интерфейса
set titlecolor brightwhite,blue
set statuscolor brightwhite,green
set keycolor brightred
set functioncolor green

# Автоотступы
set autoindent
set tabsize 4
set tabstospaces

# Прочие настройки
set constantshow      # Показывать позицию курсора
set softwrap          # Мягкий перенос строк
set mouse             # Включить поддержку мыши
set smarthome         # Умная клавиша Home
set linenumbers       # Показать номера строк
